// resets --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12 , auto);
  grid-template-rows: repeat(12 , auto);
}

.grid-item {
  background-color: red;
  grid-column: 1 , 3;
  grid-row: 1 , 3;
}

row::after {
  content: "";
  clear: both;
  display: block;
}


// layout --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.fixed {
  position: fixed;
  z-index: 1;
  background-color: red;
}

.small-container {
  height: 8.333vh;
}

.container {
  height: 12.5vh;
}

.menu-container-mobile {
 height: 75vh;
 overflow: scroll;
}

.coffee-tabs-container {
  margin-top: 12.5vh;
}

.pagedown-button {
  background-color: pink;
  bottom: 100px;
}

// 12 col layout function-----------------------------------------------------------------------------------
$columns: 12;
$columnWidth: 100%/$columns;
$offsetLeft: 100%/$columns;
$offsetRight: 100%/$columns;

@for $i from 1 through $columns {
  .col#{$i}{  // .colX
    width: $columnWidth * $i;
  }
  .col-tablet#{$i}{  // .colX
    width: $columnWidth * $i;
  }
  .col-desktop#{$i}{
    width: $columnWidth * $i;
  }
  .offset-left#{$i}{
    margin-left: $offsetLeft * $i;
  }
  .offset-left-tablet#{$i}{
    margin-left: $offsetLeft * $i;
  }
  .offset-left-desktop#{$i}{
    margin-left: $offsetLeft * $i;
  }
  .offset-right#{$i}{
    margin-right: $offsetRight * $i;
  }
  .offset-right-tablet#{$i}{
    margin-right: $offsetRight * $i;
  }
  .offset-right-desktop#{$i}{
    margin-right: $offsetRight * $i;
  }
}

//grid -----------------------------------------------------------------------------------
