.col1 {
  min-width: 8.3333333333%; }

.col-tablet1 {
  min-width: 8.3333333333%; }

.col-desktop1 {
  min-width: 8.3333333333%; }

.offset-left1 {
  margin-left: 8.3333333333%; }

.offset-left-tablet1 {
  margin-left: 8.3333333333%; }

.offset-left-desktop1 {
  margin-left: 8.3333333333%; }

.offset-right1 {
  margin-right: 8.3333333333%; }

.offset-right-tablet1 {
  margin-right: 8.3333333333%; }

.offset-right-desktop1 {
  margin-right: 8.3333333333%; }

.col2 {
  min-width: 16.6666666667%; }

.col-tablet2 {
  min-width: 16.6666666667%; }

.col-desktop2 {
  min-width: 16.6666666667%; }

.offset-left2 {
  margin-left: 16.6666666667%; }

.offset-left-tablet2 {
  margin-left: 16.6666666667%; }

.offset-left-desktop2 {
  margin-left: 16.6666666667%; }

.offset-right2 {
  margin-right: 16.6666666667%; }

.offset-right-tablet2 {
  margin-right: 16.6666666667%; }

.offset-right-desktop2 {
  margin-right: 16.6666666667%; }

.col3 {
  min-width: 25%; }

.col-tablet3 {
  min-width: 25%; }

.col-desktop3 {
  min-width: 25%; }

.offset-left3 {
  margin-left: 25%; }

.offset-left-tablet3 {
  margin-left: 25%; }

.offset-left-desktop3 {
  margin-left: 25%; }

.offset-right3 {
  margin-right: 25%; }

.offset-right-tablet3 {
  margin-right: 25%; }

.offset-right-desktop3 {
  margin-right: 25%; }

.col4 {
  min-width: 33.3333333333%; }

.col-tablet4 {
  min-width: 33.3333333333%; }

.col-desktop4 {
  min-width: 33.3333333333%; }

.offset-left4 {
  margin-left: 33.3333333333%; }

.offset-left-tablet4 {
  margin-left: 33.3333333333%; }

.offset-left-desktop4 {
  margin-left: 33.3333333333%; }

.offset-right4 {
  margin-right: 33.3333333333%; }

.offset-right-tablet4 {
  margin-right: 33.3333333333%; }

.offset-right-desktop4 {
  margin-right: 33.3333333333%; }

.col5 {
  min-width: 41.6666666667%; }

.col-tablet5 {
  min-width: 41.6666666667%; }

.col-desktop5 {
  min-width: 41.6666666667%; }

.offset-left5 {
  margin-left: 41.6666666667%; }

.offset-left-tablet5 {
  margin-left: 41.6666666667%; }

.offset-left-desktop5 {
  margin-left: 41.6666666667%; }

.offset-right5 {
  margin-right: 41.6666666667%; }

.offset-right-tablet5 {
  margin-right: 41.6666666667%; }

.offset-right-desktop5 {
  margin-right: 41.6666666667%; }

.col6 {
  min-width: 50%; }

.col-tablet6 {
  min-width: 50%; }

.col-desktop6 {
  min-width: 50%; }

.offset-left6 {
  margin-left: 50%; }

.offset-left-tablet6 {
  margin-left: 50%; }

.offset-left-desktop6 {
  margin-left: 50%; }

.offset-right6 {
  margin-right: 50%; }

.offset-right-tablet6 {
  margin-right: 50%; }

.offset-right-desktop6 {
  margin-right: 50%; }

.col7 {
  min-width: 58.3333333333%; }

.col-tablet7 {
  min-width: 58.3333333333%; }

.col-desktop7 {
  min-width: 58.3333333333%; }

.offset-left7 {
  margin-left: 58.3333333333%; }

.offset-left-tablet7 {
  margin-left: 58.3333333333%; }

.offset-left-desktop7 {
  margin-left: 58.3333333333%; }

.offset-right7 {
  margin-right: 58.3333333333%; }

.offset-right-tablet7 {
  margin-right: 58.3333333333%; }

.offset-right-desktop7 {
  margin-right: 58.3333333333%; }

.col8 {
  min-width: 66.6666666667%; }

.col-tablet8 {
  min-width: 66.6666666667%; }

.col-desktop8 {
  min-width: 66.6666666667%; }

.offset-left8 {
  margin-left: 66.6666666667%; }

.offset-left-tablet8 {
  margin-left: 66.6666666667%; }

.offset-left-desktop8 {
  margin-left: 66.6666666667%; }

.offset-right8 {
  margin-right: 66.6666666667%; }

.offset-right-tablet8 {
  margin-right: 66.6666666667%; }

.offset-right-desktop8 {
  margin-right: 66.6666666667%; }

.col9 {
  min-width: 75%; }

.col-tablet9 {
  min-width: 75%; }

.col-desktop9 {
  min-width: 75%; }

.offset-left9 {
  margin-left: 75%; }

.offset-left-tablet9 {
  margin-left: 75%; }

.offset-left-desktop9 {
  margin-left: 75%; }

.offset-right9 {
  margin-right: 75%; }

.offset-right-tablet9 {
  margin-right: 75%; }

.offset-right-desktop9 {
  margin-right: 75%; }

.col10 {
  min-width: 83.3333333333%; }

.col-tablet10 {
  min-width: 83.3333333333%; }

.col-desktop10 {
  min-width: 83.3333333333%; }

.offset-left10 {
  margin-left: 83.3333333333%; }

.offset-left-tablet10 {
  margin-left: 83.3333333333%; }

.offset-left-desktop10 {
  margin-left: 83.3333333333%; }

.offset-right10 {
  margin-right: 83.3333333333%; }

.offset-right-tablet10 {
  margin-right: 83.3333333333%; }

.offset-right-desktop10 {
  margin-right: 83.3333333333%; }

.col11 {
  min-width: 91.6666666667%; }

.col-tablet11 {
  min-width: 91.6666666667%; }

.col-desktop11 {
  min-width: 91.6666666667%; }

.offset-left11 {
  margin-left: 91.6666666667%; }

.offset-left-tablet11 {
  margin-left: 91.6666666667%; }

.offset-left-desktop11 {
  margin-left: 91.6666666667%; }

.offset-right11 {
  margin-right: 91.6666666667%; }

.offset-right-tablet11 {
  margin-right: 91.6666666667%; }

.offset-right-desktop11 {
  margin-right: 91.6666666667%; }

.col12 {
  min-width: 100%; }

.col-tablet12 {
  min-width: 100%; }

.col-desktop12 {
  min-width: 100%; }

.offset-left12 {
  margin-left: 100%; }

.offset-left-tablet12 {
  margin-left: 100%; }

.offset-left-desktop12 {
  margin-left: 100%; }

.offset-right12 {
  margin-right: 100%; }

.offset-right-tablet12 {
  margin-right: 100%; }

.offset-right-desktop12 {
  margin-right: 100%; }

.main-accent-color {
  background-color: #E67A7D; }

.secondary-accent-color {
  background-color: #F2CFD0; }

.background-color {
  background-color: #FAFAF3; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FAFAF3; }

row::after {
  content: "";
  clear: both;
  display: block; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.fixed {
  position: fixed; }

.absolute-bottom {
  position: absolute;
  bottom: 0px; }

.flexbox {
  display: flex; }

.justify-space-between {
  justify-content: space-between; }

.justify-space-around {
  justify-content: space-around; }

.logo {
  background: url("../images/supreme-logo.svg");
  display: block;
  height: 8.33vh;
  width: 10vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.5rem 4.16%; }

.hamburger-button {
  background: url("../images/hamburger-button.svg");
  display: block;
  height: 8.33vh;
  width: 10vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.5rem 4.16%; }

.dropdown {
  display: none; }

.menu-tab {
  min-height: 5.833vh;
  text-align: center;
  padding-top: 2.5vh; }

.menu-container {
  max-height: 71vh;
  overflow: scroll; }

.menu-item {
  min-height: 5.83vh;
  text-align: center;
  padding-top: 2.5vh; }

.dotted-bottom-border {
  border-bottom: 0.3rem solid transparent;
  border-image-source: url("../images/border-dots.svg");
  border-image-slice: 33%;
  border-image-repeat: round; }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Lato2OFL/Lato-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Lato2OFL/Lato-Bold.ttf) format("truetype"); }
.copy {
  font-family: "Lato", sans-serif;
  font-weight: normal; }

.dark-copy {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #3C3C3C; }

/*# sourceMappingURL=stylesheet.css.map */
