// type styling  --------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Lato2OFL/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Lato2OFL/Lato-Bold.ttf) format("truetype"); }

@mixin copy {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.dark-copy {
  @include copy;
  color: $tertiary-accent-color;
}

.large-copy {
  @include copy;
  font-size: 1.3rem;
}

.really-large-copy {
  @include copy;
  font-size: 3rem;
}

.light-copy {
  @include copy;
  color: $background-color;
}

.button-copy {
  @include copy;
  font-size: 1rem;
}

.inactive-copy {
  color: $inactive-color;
}

.bold-copy {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-weight: bold; }
