// imports  --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------
@import "variables"; //layout and color]
@import "typography";

// resets --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $background-color;
}

row::after {
  content: "";
  clear: both;
  display: block;
}

@mixin clearfix {
  &::after{
    clear: both;
    display: block;
    content: '';
  }
}


// layout  --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.fixed {
  position: fixed;
}

.fixed-bottom {
  height: 10vh;
}

.fixed-top{
  position: relative;
  height: 10vh;
}

.absolute-bottom {
  position: absolute;
  bottom: 0px;
}

.flexbox {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.grid-container {
  min-height: 80vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  overflow: scroll;
}

// page elements  --------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------
@mixin svg-icon {
  display: block;
  height: 8.33vh;
  width: 11vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.5rem 4.16%;
}

.logo {
  background: url("../images/supreme-logo.svg");
  @include svg-icon;
  @include clearfix;
}

.hamburger-button {
  background: url("../images/hamburger-button.svg");
  @include svg-icon;
  @include clearfix;
}

.scroll-down-button {
  background: url("../images/scroll-down-button.svg");
  @include svg-icon;
  margin: 0.5rem auto 0 auto;
  position: relative;
  bottom: 2rem;
}

.scroll-up-button {
  background: url("../images/scroll-up-button.svg");
  @include svg-icon;
  margin: 0.5rem auto 0 auto;
  position: relative;
  bottom: 2rem;
  display: none;
}

.dropdown {
  position: absolute;
  height: 0;
  transition: 0.3s;
  overflow-y: hidden;
}

.open {
  height: 80vh;
  z-index: 100;
}

.dropdown-menu-item {
  min-height: 10vh;
  text-align: center;
  padding-top: 5.5vh;
}

.menu-tab-container{
  @include clearfix;
}

.menu-container {
  min-height: 70vh;
}

.menu-tab {
  min-height: 5.833vh;
  text-align: center;
  padding-top: 2.5vh;
  @include clearfix;
}

.menu-item {
  min-height: 5.83vh;
  text-align: center;
  padding-top: 2.5vh;
}

// border stles ------------------------------------------------------------------------------------------------------------
@mixin dotted-bottom-border {
  border-bottom: 0.3rem solid transparent;
  border-image-source: url("../images/border-dots.svg");
  border-image-slice: 33%;
  border-image-repeat: round;
}
.dotted-bottom-border {
  @include dotted-bottom-border;
}
.light-bottom-border {
  @include dotted-bottom-border;
  border-image-source: url("../images/border-dots-light.svg");
}

.order-total{
  margin: 2.5vh 0;
  padding: 1vh 0;
}

.button {
  height: 4.83vh;
  margin: 2.5vh 0;
  padding: 1vh 10vw;
  border-radius: 1rem;
}

// option button styles ----------------------------------------------------------------------------------------------------

.option-label {
  @include copy;
  text-align: center;
  margin: 1.5rem auto 0.5rem auto;
}

.option-selected {
  display: inline-block;
  @include copy;
  font-size: 1.2rem;
  font-weight: bold;
}

.option-deselected {
  display: inline-block;
  @include copy;
  color: $inactive-color;
}

.litte-guy-selected {
  background-image: url("../images/little-guy-selected.svg");
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

.litte-guy-deselected {
  background-image: url("../images/little-guy-deselected.svg");
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem 0;
}
