// imports  --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------
@import "variables"; //layout and color]
@import "typography";

// resets --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $background-color;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

row::after {
  content: "";
  clear: both;
  display: block;
}

@mixin clearfix {
  &::after{
    clear: both;
    display: block;
    content: '';
  }
}


// layout  --------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.inline-block {
  display: inline-block;
}

.fixed {
  position: fixed;
}

.fixed-bottom {
  height: 10vh;
}

.fixed-top{
  position: relative;
  height: 10vh;
}

.absolute-bottom {
  position: absolute;
  bottom: 0px;
}

.flexbox {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
// page elements  --------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------
@mixin svg-icon {
  display: block;
  height: 8.33vh;
  width: 11vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.5rem 4.16%;
}

.logo {
  background: url("../images/supreme-logo.svg");
  @include svg-icon;
  @include clearfix;
}

.hamburger-button {
  background: url("../images/hamburger-button.svg");
  @include svg-icon;
  @include clearfix;
}

.hamburger-button-inactive {
  background: url("../images/hamburger-button-inactive.svg");
  @include svg-icon;
  @include clearfix;
}

.scroll-down-button {
  background: url("../images/scroll-down-button.svg");
  @include svg-icon;
  margin: 0.5rem auto 0 auto;
  position: relative;
  bottom: 2rem;
}

.scroll-up-button {
  background: url("../images/scroll-up-button.svg");
  @include svg-icon;
  margin: 0.5rem auto 0 auto;
  position: relative;
  bottom: 2rem;
  display: none;
}

.plus-button {
  background: url("../images/plus-button.svg");
  @include svg-icon;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  position: relative;
  top: 1rem;
}

.minus-button {
  background: url("../images/minus-button.svg");
  @include svg-icon;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  position: relative;
  top: 1rem;
}

.dropdown {
  position: absolute;
  height: 0;
  transition: 0.3s;
  overflow-y: hidden;
}

.open {
  height: 80vh;
  z-index: 100;
}

.dropdown-menu-item {
  min-height: 10vh;
  text-align: center;
  padding-top: 5.5vh;
}

.blend-container {
  @include clearfix;
  min-height: 80vh;
  position: absolute;
  z-index: 200;
  display: none;
}

@mixin blend-image {
  min-height: 30vh;
  max-height: 50vh;
  margin: 2.5vh 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  // this mixin exists because in theory there's going to be a bunch of these
}

.boxer-image {
  @include blend-image;
  background-image: url("../images/boxer-blend-large.png");
}

.back-button {
  background: url("../images/back-button.svg");
  display: block;
  height: 8.33vh;
  width: 11vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  bottom: 2rem;
  bottom: 0; }

.menu-tab-container{
  @include clearfix;
}

.menu-container {
  min-height: 70vh;
}

.menu-tab {
  min-height: 5.833vh;
  text-align: center;
  padding-top: 2.5vh;
  @include clearfix;
}

.menu-item {
  min-height: 5.83vh;
  text-align: center;
  padding: 1.25vh 0 1.25vh 0;
}

.order-total{
  margin: 2.5vh 0;
  padding: 1vh 0;
}

.button {
  height: 4.83vh;
  margin: 2.5vh 0;
  padding: 1vh 10vw;
  border-radius: 1rem;
}

.large-button {
  height: 7.5vh;
  min-width: 50vw;
  max-width: 75vw;
  margin: 2.5vh 0;
  padding: 2vh 2vw;
  border-radius: 1rem;
}

.checkout-total {
  margin: 10vh 0 5vh 0;
}

.payment-button-container {
  margin-top: 10vh;
}

.processing-container {
  min-height: 90vh;
}

.processing-bar-container {
  margin-top: 50vh;
}

.progress {
    position: relative;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 15s;
    transition-timing-function: linear;
}



// border styles ---------------------------------------------------------------------------------------------------------
@mixin dotted-bottom-border {
  border-bottom: 0.3rem solid transparent;
  border-image-source: url("../images/border-dots.svg");
  border-image-slice: 33%;
  border-image-repeat: round;
}
.dotted-bottom-border {
  @include dotted-bottom-border;
}
.light-bottom-border {
  @include dotted-bottom-border;
  border-image-source: url("../images/border-dots-light.svg");
}

// option button styles --------------------------------------------------------------------------------------------------
.option-label {
  @include copy;
  text-align: center;
  margin: 1.5rem auto 0.5rem auto;
}

.option-deselected {
  @include copy;
  color: $inactive-color;
}

.option-selected {
  @include copy;
  font-size: 1.1rem;
  font-weight: bold;
  color: $tertiary-accent-color;
}

.little-guy-deselected {
  background-image: url("../images/little-guy-deselected.svg");
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

.little-guy-selected {
  background-image: url("../images/little-guy-selected.svg");
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

// media queries --------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------
@import "media-queries";
