
//mobile ------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}

//tablet ------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .tablet-hide {
    display: none;
  }
  .navbar-item {
    height: 5.83vh;
    text-align: center;
    padding-top: 2.5vh;
    width: 20%;
  }
  .center-logo {
    background: url("../images/supreme-center-logo.svg");
    @include svg-icon;
    margin-left: 44.5vw;
    margin-right: 44.5vw;
  }
  .options-container {
    position: relative;
    top: 20vh;
    width: 66%;
    margin: auto;
  }
  .option-row {
    margin-bottom: 5vh;
  }
  .option-label {
    font-size: 1.5rem;
    margin: 1rem
  }
}


//desktop / tabletop ------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 1000px) {
  .desktop-hide {
    display: none;
  }
  .fixed-top {
    min-height: 16.666vh;
  }
  .center-logo-container {
    display: flex;
    justify-content: center;
  }
  .center-logo {
    background: url("../images/supreme-center-logo.svg");
    @include svg-icon;
    margin-left: 44.5vw;
    margin-right: 44.5vw;
  }
  .navbar-item {
    height: 5.83vh;
    text-align: center;
    padding-top: 2.5vh;
    width: 20%;
  }
  .fixed-bottom {
    height: 16.66vh;
  }
  .options-container {
    position: relative;
    top: 8.33vh;
    width: 66%;
    margin: auto;
  }
  .option-row {
    margin-bottom: 5vh;
  }
  .option-label {
    font-size: 1.5rem;
    margin: 1.5rem auto 1rem;
  }
}
